<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <div class="container">
        <div class="form-area">
            <h2>Sign up</h2>
            <form action="/signup" method="post">

                <% if(error){ %>
                    <p><%= error %></p>
              <%  } %>

                <label for="name">Name:</label>
                <input type="text" class="inp" name="name" id="name">

                <label for="phone">Phone:</label>
                <input type="text" class="inp" name="phone" id="phone">

                <label for="email" class="labemail">E-mail:</label>
                <input type="email" class="inp" name="email" id="email">

                <label for="password" class="labpassword">Password:</label>
                <input type="password" class="inp" name="password" id="passwordcheck">


                <label for="password" class="labconfirmpassword">Confirm Password:</label>
                <input type="password" class="inp" name="confirmpassword" id="confirmpassword">

                <div class="btn-area">
                    <button type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</body>
<script src="validation.js"></script>
</html>
